#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_install:
	dh_auto_install
	# 安装desktop文件
	install -D -m 644 cleanmydeepin.desktop \
		$(CURDIR)/debian/cleanmydeepin/usr/share/applications/cleanmydeepin.desktop
	# 如果图标文件存在则安装
	if [ -f resources/icons/cleanmydeepin.png ]; then \
		install -D -m 644 resources/icons/cleanmydeepin.png \
			$(CURDIR)/debian/cleanmydeepin/usr/share/pixmaps/cleanmydeepin.png; \
	fi